/* ...existing code... */
.footer-column a {
    color: #1d0cb4;
}
/* ...existing code...*/

/* Tabs estilo Nike */
.nav-tabs .nav-link {
  border: none;
  font-weight: 600;
  color: #555;
}
.nav-tabs .nav-link.active {
  border-bottom: 2px solid #ff6600; /* color resaltado */
  color: #000;
}

/* Inputs */
.modal-content input {
  border-radius: 8px;
  padding: 10px;
}

/* Botón */
.modal-content .btn-dark {
  border-radius: 8px;
  font-weight: bold;
}
body {
  background-color: #111; /* negro claro */
  color: white;
}