{% extends "base.html" %}
{% block title %}informacion{% endblock %}
{% block content %}
<div class="col-md-8 col-lg-6">
  <h1 class="h3 mb-3">informacion de la pagina</h1>
<div class="footer-column">
                    <ul>
                        <li><a href="#">Acerca de Nosotros</a></li>
                        <li><a href="#">Noticias</a></li>
                        <li><a href="#">Sostenibilidad</a></li>
                    </ul>
                </div>
                  <div class="alert alert-info">Para dudas escríbenos a <strong>soporte@tienda.com</strong></div>
</div>
{% endblock %}
